{% extends "base.html" %}


{% block content %}
<div class="row">
  <script id="baidu_script"></script>

  <div class="col s6 offset-s3"> 
  <h3>Sparking NY Journery</h3>
  </div>
  
</div>

<div class="row">
  <div class="col s8 offset-s2"> 
    <h5>Sreach Restaurants</h5>
    <div id="baidu_searcher">
			<div id="search_area">
				<form id="baidu_form" action="http://127.0.0.1:5000/queryRestaurant" method="get" target="_blank">
					<input id="baidu_hidden" type="hidden" name="ie" value="UTF-8" />
					<input id="baidu_text" type="text" autofocus="autofocus" name="word" value="" autocomplete="off" />
          		<button id="baidu_submit" class="waves-effect waves-light btn" style="display:none">Sreach</button>
				</form>
				<ul id="search_result">
					<li class="result_item"></li>
					<li class="result_item"></li>
					<li class="result_item"></li>
					<li class="result_item"></li>
					<li class="result_item"></li>
					<li class="result_item"></li>
					<li class="result_item"></li>
					<li class="result_item"></li>
					<li class="result_item"></li>
					<li class="result_item"></li>
				</ul>
			</div>
		</div>
  </div>
</div>


{% endblock content %}

{% block scripts %}
<script>
window.onload = function() {
	var item_index = -1;
	var item_array = [];
	inputAction();
	take_advice();
}


function inputAction() {
	var baidu_api = "http://127.0.0.1:5000/autoComplete?word=#content#";
	var baidu_text = document.getElementById("baidu_text");
	baidu_text.oninput = function() {
		var text_value = baidu_text.value;
		if(text_value.length < 24) {
      console.log(text_value)
			var old_script = document.getElementById("baidu_script");
			if(old_script) old_script.parentNode.removeChild(old_script);
      var script_src = baidu_api.replace("#content#", baidu_text.value);
      $.get(script_src, function(result){
        window_baidu_sug(result)
      });
		}
	}
}

function window_baidu_sug(arr) {
	var text_list = new Array();
	var baidu_text = document.getElementById("baidu_text");
	var search_result = document.getElementById("search_result");
	var result_items = document.getElementsByClassName("result_item");
	for(var i = 0; i < result_items.length; i++) {
		result_items[i].style.background = "none";
	}
	if(arr.length != 0) {
		var str = baidu_text.value;
		search_result.style.display = "block";
		for(var i = 0; i < result_items.length; i++) {
			if(i < arr.length) {
				var text = "";
				if(arr[i].indexOf(str) >= 0) {
					text = str + "<b>" + arr[i].replace(str, "") + "</b>";
				} else {
					text = arr[i];
				}

				result_items[i].style.display = "block";
				result_items[i].innerHTML = text;
			} else {
				result_items[i].innerHTML = "";
				result_items[i].style.display = "none";
			}
		}
		for(var i = 0; i < result_items.length; i++) {
			if(result_items[i].innerHTML != "") {
				text_list.push(result_items[i].innerText);
			}
		}
		text_list.push(baidu_text.value);
	} else {
		var search_result = document.getElementById("search_result");
		search_result.style.display = "none";
		for(var i = 0; i < result_items.length; i++) {
			result_items[i].innerHTML = "";
			result_items[i].style.display = "none";
		}
	}
	item_index = -1;
	item_array = text_list;
}

function take_advice() {
	var baidu_text = document.getElementById("baidu_text");
	var baidu_submit = document.getElementById("baidu_submit");
	var search_result = document.getElementById("search_result");
	var result_items = document.getElementsByClassName("result_item");
	for(var i = 0; i < result_items.length; i++) {
		result_items[i].index = i;
		result_items[i].onclick = function() {
			baidu_text.value = this.innerText;
			baidu_submit.click();
		}
		result_items[i].onmouseover = function() {
			this.style.background = "#EEEEEE";
			item_index = this.index;
		}
		result_items[i].onmouseout = function() {
			clear_item_style();
		}
	}
	document.onclick = function() {
		search_result.style.display = "none";
		for(var i = 0; i < result_items.length; i++) {
			result_items[i].innerHTML = "";
			result_items[i].style.background = "none";
			result_items[i].style.display = "none";
		}
	}
	document.onkeydown = function() {
		if(search_result.style.display == "block") {

			var key_code = event.keyCode;
			if(key_code == 27) {
				clear_item_style();
				search_result.style.display = "none";
				for(var i = 0; i < result_items.length; i++) {
					result_items[i].innerHTML = "";
					result_items[i].style.display = "none";
				}
			}
			if(key_code == 38 || key_code == 40) {
				clear_item_style();

				if(key_code == 38) {
					item_index = (item_array.length + item_index - 1) % item_array.length;
				} else if(key_code == 40) {
					item_index = (item_array.length + item_index + 1) % item_array.length;
				}
				baidu_text.value = item_array[item_index];
				if(item_index < result_items.length) {
					result_items[item_index].style.background = "#EEEEEE";
				}
				return false;
			}
		}
	}

	function clear_item_style() {
		for(var i = 0; i < result_items.length; i++) {
			result_items[i].style.background = "none";
		}
	}
}

</script>
{% endblock %}
